A
 {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 30%;
    padding: 1px 2px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
	
    color: white;
    padding: 1px 2px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

.a {
    float: left;
    border-right:non;
}


.span{
	float: right;
    border-right: none;
}

button:hover {
    opacity: 0.8;
}

.main-nav {
	background-color: #4CAF50;
}

.main-nav a {
	border-bottom: 10px solid #EEF0F2;
	font-weight: bold;
	text-decoration: none;
}

.main-nav a:hover {
	background-color: blue;
	border-bottom: 10px solid #000;
	color: #EEF0F2;
}



