
  <div class="container">
 <div class="form-group">
 <h2>Login</h2>

<form action="/action_page.php">
  
  <div class="container">
  
    <input (ngModule)="username" name="username" class="form-control" type="text"/>
	<br>
  
   <input (ngModule)="password" name="password" class="form-control" type="password"/>

	<br>
         
    <button  class="btn btn-info btn-lg">Login</button>
	<br>
     <a href="register.html" target="_blank">Register</a>
	 <br>
	 <a (click)="login(user)">Login</a>
    
  </div>

</form>
 </div>
      
      
      
      
      
      

  
