

 
 <h2>Register</h2>

<form action="/action_page.php">
  

  <div class="container">
  
    <input (ngModul)="username" name="username" class="form-control" type="text"/>
	<br>   
   <input (ngModul)="password" name="password" class="form-control" type="password"/>
	<br>
    <input type="password" placeholder="verify Password" name="psw" required>
	<br>
        
    <a href="profile.html" target="_blank">Register</a>
	<br>
     <button class="btn btn-danger">Cancel</button>
    
  </div>
</form>

      
      
      
      
      
      
      
      

    
  
