

 
 <h2>Register</h2>

<form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
  

  <div class="container">
  
    <input (ngModul)="username" name="username" class="form-control" type="text"/>
	<br>   
   <input (ngModul)="password" name="password" class="form-control" type="password"/>
	<br>
    <input type="password" placeholder="verify Password" name="psw" required>
	<br>
        
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Register</button>
          
          <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
      </div>
    
  </div>
</form>

      
      
      
      
      
      
      
      

    
  
